body{
    font-family: 'Roboto', sans-serif;
}
img.tam-img{
    width: 100%;
    height: auto;
}
main{
    background-color: black;
    color: white;
}
.icon-content{
    background-color:#0dcaf0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.card{
    width: 300px;
}
.card-body{
    background-color:#0dcaf0 ;
}
div#formulario-contacto{
    background-color: black;
}
#pie-pag{
    background-color:#0dcaf0 ;
}
.navbar.navbar-expand-lg{
    background-color: rgba(234, 240, 246, 0);
    position:fixed;
    z-index: 100;
    color: white;
    width: 100%;
    padding: 0 3em 0 3em;
    margin: 1em 0 0 0;
    font-family: 'Roboto', sans-serif;
}
p.navbar-brand{
    text-transform: uppercase;
    color: white;
    margin:0;
    padding: 0;
}
a.nav-link{
    color: white;
    font-weight: 300;
}

#nav-barra{
    width: 100%;
}
img#logo{
    width: 30px;
    margin:0 1em 0 0 ;
}

/*SECCION DE DESCRIPCION*/
section#descripcion{
    display: flex;
    flex-direction: column;
}
div#text-content.container-fluid{
    display: flex;
    flex-direction: row;
}
.titulo-h2{
    text-transform: uppercase;
    padding: 2em 0 1em 0;
    text-align: center;
    font-weight: 300;
    background-color: black;
    margin: 0;
    color: white;
}
.texto-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    flex-wrap: wrap;
}

div#texto-dos{

    flex-wrap: wrap-reverse;
}
section#destacados{
    display: flex;
    flex-direction: column;
}
div#card-contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    margin: .5em;
    color: white;
}
img.card-img-top{
    height: 170px;
    width: 298px;
  }
  h4.card-title
  {
    color: white;
  }
  p.card-text{
    color: white;
  }
  div#formulario-contacto{
    padding: 0 8em;
  }
label{
    color: white;
}

#pie-pag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em 0;
}
#footer-text{
    margin: 0;
}
i{
    margin: 0 .3em;
}