/*Se aplican los cambios si es igual o menor a 1250px*/
@media (max-width: 850px) {
  img#logo{
    width: 30px;
    margin:0;
  }
  nav.navbar.navbar-expand-lg{
    margin: .5em 0 ;
    padding: 0;
  }
/*seccion de descripcion*/
  div#text-content.container-fluid{
    display: flex;
    flex-direction: column !important;
  }
  div#card-contenido{
    display: flex;
    flex-direction: column !important;
    }
  img.card-img-top{
    height: 170px;
    width: 260px;
  }
}
